# Core Web Framework and Server
Flask
gunicorn
flask-cors
flask-talisman

# Machine Learning & Audio Processing
transformers
torch
torchaudio
accelerate
deepl
pandas

# Utilities
python-dotenv
requests
soundfile